/* 
Daniel Reyes
MIU-1302
Bronze app
*/

/*html{
	background-color: #bcaf95;
}

h1{
	margin: 10px 20px;
	border: solid #000000;
	padding: 10px;
	background-color: #E1DFD3;
	width: 30%;
	font-style: oblique;
	font-family: sans-serif;
	color: maroon;
		
}
h2{
	margin: 10px 20px;
	font-style: oblique;
	font-family: sans-serif;
	color: #4D4B39;
}

nav{
	margin-left: 57.0em;	
}

legend{
	margin: 10px 20px;
	font-style: italic;
	font-style: oblique;
	font-size: large;
	font-family: sans-serif;
	color: maroon;			
}

label{
	display: block;	
}
li{
	font-style: oblique;
	font-family: sans-serif;
	color: #E1DFD3;
	line-height: 23px;
}
aside{
	font-style: oblique;
	font-family: sans-serif;
	color: maroon;
}

fieldset{
	margin: 10px 20px;
	border: solid #000;
	background-color: #E1DFD3;
}


.questions{
	margin: 20px;
	padding: 30px; 
	border: solid #000; 
	background-color: #4D4B39;	
}
a:link{color: blue;}
a:visited{color: red;}
a:hover{color: gray;}
a:active{color: black;}
*/

#grid{display: inline-block;margin: 10px;}

