/* 
Daniel Reyes
MIU-1302
Gold app
*/

label.error{display: block; margin: 10px 0; color: #cc0000;}

#serrorLink{display:none;}

#startSurvey{margin: 30px auto;}

.hint{
	position: relative; font-size: smaller;
	color: #ff0000;
}



